.App {
  display: grid;
  margin: 75px auto 75px;
  max-width: 960px;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 140px;
  text-align: center;
}

.kid {
  max-width: 75%;
  grid-column: 1;
  grid-column-end: 2;
  grid-row: 2;
  margin: 0 0 0 auto;
}

.rocks {
  width: 100%;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.text-box {
  position: relative;
  margin: auto 0;
  text-align: left;
  grid-column: 1;
  grid-row: 1;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.statement {
  margin-top: 20px;
  font-size: 16px;
}
